{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
bikers_R_us
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<a class="navbar-brand" href="{{ url_for('cart') }}">Cart</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="text-center h1 text-danger">Checkout</div>
<div class="container">
{% from "_formhelpers.html" import render_field %}
<form method=post enctype="multipart/form-data">
	<div class="form-group">
		{{ render_field(form.card_number, class="form-control") }}
	</div>
  <p><input type=submit value="Pay" class="btn btn-info mt-2"></p>
</form>
<p> Cart Total: {{total}} </p>
</div>
{% endblock %}