{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<a class="navbar-brand" href="{{ url_for('cart') }}">Cart</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="text-center h1 text-danger"> Info</div>
<div class="container">
	<div class="custom-row">
		<div class="col" id="mainContent">
			{% from "_formhelpers.html" import render_field %}
			<form method=post enctype="multipart/form-data" class="row g-3">
				<div class="col-md-6">
					{{ render_field(form.first_name, class="form-control") }}
				</div>
				<div class="col-md-6">
					{{ render_field(form.surname, class="form-control") }}
				</div>
				<div class="col-md-12">
				{{ render_field(form.email, class="form-control") }}
				</div>
				<div class="col-md-12">
				{{ render_field(form.phone_number, class="form-control") }}
				</div>
				<div class="col-md-12">
				{{ render_field(form.address, rows=5, class="form-control", placeholder="10 Downing Street") }}
				</div>
				<div class="col-md-12">
				{{ render_field(form.apartment, class="form-control", placeholder="Flat, House, etc.") }}
				</div>
				<div class="col-md-4">
				{{ render_field(form.country, class="form-control") }}
				</div>
				<div class="col-md-6">
					{{ render_field(form.city, class="form-control") }}
				</div>
				<div class="col-md-2">
					{{ render_field(form.postcode, class="form-control") }}
				</div>
				</br>
				<div class="col-md-3">
				<a href="/cart" class="btn btn-primary">Return to Cart</a>
				</div>
				<div class="col-md-3 float-right">
				<input type=submit value="Continue to Shipping" class="btn btn-primary">
				</div>
			</form>
		</div>
		<div class="col" id="gapContent">
		</div>
		<div class="col" id="sideContent">
		<div class="text-center h3 text-secondary">Order details</div>
			<div class="product-column">
				{% for product, quantity in cart.items() %}
				<div class="product-row">
					<div class="product-info"><p class="font-monospace">{{product.name}}</p></div>
					<div class="product-info"><p class="font-monospace">x{{quantity}}</p></div>
					<div class="product-info"><a href="/productPage/{{product.id}}/{{product.name}}"><img src={{ product.picture }} width=50 height=50px></a></div>
				</div>
				{% endfor %}
			</div>
			<p>Total: {{total}}</p>
		</div>
	</div>
</div>
{% endblock %}