{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
<script>
function createRecommendation(product) {
	let list_item = document.createElement("li");
	let link = document.createElement("a");
	const link_text = document.createTextNode(product.name);
	link.appendChild(link_text);
	link.href = "productPage/"+product.id+"/"+product.name
	list_item.appendChild(link);
	return list_item;
}

function GetSearch() {
	let search_query = document.getElementById("SearchInput").value;
	let url = `http://127.0.0.1:5000/search/${search_query}`;
	let display_div = document.getElementById("SearchResults")
	display_div.innerHTML = "";
	let list = document.createElement("ul");

	fetch(new Request(url))
		.then(response => response.json())
		.then(data => {		
					if (data.products.length == 0) {
						let list_item = createListItem("No results")
						list.appendChild(list_item);
						display_div.appendChild(list);
					}
					else {
						for (let i=0; i<data.products.length; i++) {
							let list_item = createRecommendation(data.products[i]);
							list.appendChild(list_item);
						}
						display_div.appendChild(list);
						}
				});
}
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-dark bg-dark" role="navigation">
	<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
	<a class="navbar-brand" href="{{ url_for('cart') }}">Cart</a>
	<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	<a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
	<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
	<form method="post" class="form-inline my-2 my-lg-0">
		<div class="row">
			<div class="col">
				<input type="search" class="form-control" autocomplete="off" name="SearchInput" id="SearchInput" onkeyup="GetSearch()" onfocus="GetSearch()" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" aria-label="Home bikers_R_us">
				<div class="SearchResults" id="SearchResults"></div>
			</div>
			<div class="col">
				<input type="submit" class="btn btn-outline-primary"" value="Search" name="ApplySearch">
			</div>
	</form>
</nav>

{% endblock %}

{% block content %}

<div class="SortBar">
	<form method="post">
		<select class="btn btn-primary"  name="SortBar">
			<option value="Standard">Standard</option>
			<option value="Price">Price</option>
			<option value="Name">Name</option>
		</select> 
		<input class="btn btn-primary" type="submit" value="Sort" name="ApplySort">
	</form>
</div>
<div class="container">
	<div class="row">
		{% for product in products %}
		<div class="col-md-3 mt-3">
			<div class="card">
				<a href="productPage/{{product.id}}/{{product.name}}"><img src={{ product.picture }} class="card-img-top"></a>
				<div class="card-body">
					<h5 class="text-center">{{product.name}}</h5>
					<p class="text-center">£{{product.price}}</p>
				</div>
				<div class="card-footer">
					<form method="post">
						<input type="hidden" name="product_id" value={{product.id}}>
						<label for="quantity">Quantity</label>
						<input type="number" name="quantity" min=1 required>
						<input class="btn btn-primary" type="submit" value="Add To Cart" name={{product.id}}>
					</form>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="text-center h1"> Advertisements:</div>
<center><img src="\static\advert_pics\shop_banner.jpg" style="width: 50%; height:auto"></center>

{% endblock %}