{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<a class="navbar-brand" href="{{ url_for('cart') }}">Cart</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="text-center h1 text-danger">Login</div>
<div class="container">
	{% from "_formhelpers.html" import render_field %}
	<form method=post>
		<div class="form-group">
			{{ render_field(form.username, class="form-control") }}
			{{ render_field(form.password, class="form-control") }}
		</div>
		<p><input type=submit value="Login" class="btn btn-primary"></p>
	</form>
</div>
{% endblock %}