{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Relational Database Example{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<a class="navbar-brand" href="{{ url_for('cart') }}">Cart</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg); height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="static/profile_pics/{{ current_pic }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="max-width:150px; max-height:150px; min-width:150px;min-height: 150px; width: auto; height: auto; z-index: 1">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h3 class="text-dark">{{user.username}}</h3>
              <p class="text-dark">Gold Member</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
			<a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Edit Profile</p>
              <div class="p-4" style="background-color: #f8f9fa;">
			  {% from "_formhelpers.html" import render_field %}
                <form method=post enctype="multipart/form-data">
					{{ render_field(form.profile_pic) }}
					<p><input type=submit value="Upload pic"></p>
				</form>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Orders</p>
            </div>
			<div class="row">
				{% for order_id in orders.keys() %}
				{% set order_dict = orders[order_id] %}
				{% set customer = order_dict["customer"] %}
				{% set item_list = order_dict["items"] %}
				<div class="col-6">
					<div class="card">
						<h4 class="text-center text-primary"> Order #{{order_id}} </h4>
						<div class="card-body">

					{% for item_dict in item_list %}
						{% set product = item_dict["product"] %}
						{% set item = item_dict["item"] %}

							<h6 class="text-left">{{product.name}} £{{product.price}} x {{item.quantity}}</h6>
					{% endfor %}
						</div>
						<div class="card-footer">
						<p> Name: {{customer.first_name}} </p>
						<p> Street Name: {{customer.address_line_1}} </p>
						<p> City: {{customer.city}} </p>
						<p> Postcode: {{customer.postcode}} </p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>			
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}